@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar .site-name, .sidebar
  font-family: 'Fira Sans', 'Roboto', sans-serif;
  font-weight: 400 !important;

.custom-block
  &.margin-top
    margin-top 1.5rem;
